* {
  margin: 0;
  padding: 0;

  color: #221c17;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Lato', monospace;

}


body {
  background-color: #bababc;
  background-image: url('./bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}