.Page {
  padding: 1em;
}

.Page header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  margin-top: 0;
  margin-bottom: 2em;
}
.Page header a {
  text-decoration: none;
}

.Page header a:hover {
  text-decoration: underline;
}

.tokenData {
  margin: auto;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6f1f3;
  border: 4px solid;
  max-width: 900px;

}

.photo {
  display: flex;
  justify-content: center;
}
.photo img {
  max-width: 100%;
  max-height: 700px;
  border: 4px solid;
}

.bidPrompt a {
  color: #e6f1f3;
  background-color: #221c17;
  font-size: 3em;
  padding: 0.45em 0.65em;
  transition: 200ms;
  border-radius: 5px;
  text-decoration: none;
}

.bidPrompt a:hover {
  background-color: #463a30;
}

.tokenDescription {
  padding: 0.5em;
  font-size: 1.5em;
  line-height: 1.3;
  /*text-align: center;*/
}

.dlContainer {
  margin: auto;
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.dlContainer dl {
  width: 270px;
  display: block;
  align-items: center;
  background-color: #e6f1f3;
  border: 4px solid;
  padding: 1em;
}
.dlContainer dl > * {
  display: flex;
  justify-content: space-between;
}

.dlContainer dt,
.dlContainer dd {
  display: inline-block;
  width: 130px;
}

dt {
  text-align: right;
}


@media (max-width: 600px) {
  .Page {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .Page {
    font-size: 10px;
  }

  header {
    font-size: 8px;
  }
}

.auctionDetails h2 {
  text-align: center;

}
.auctionDetails {
  max-width: 400px;
  background-color: #000;
  padding: 1em;
  border: 4px solid;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageSection {
  margin-bottom: 3em;
}

footer > *, .ThumbnailDescription, .dlContainer dl, .tokenDescription {
  background-color: #000;
}

.bidButton {
  text-decoration: none;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5em 1em;
  display: inline-block;
  margin: 0.75em 0;
  font-size: 3em;
  animation: BGRotate 15s linear infinite;
  transition: 300ms;
}

.bidButton:hover {
  box-shadow: 0 0 15px #00ffff;
}

.photo img {
  background-color: #000;
}

